{%extends "layout.html"%}
{%block list%}
<li class="nav-item" action="/drama">
  <a class="nav-link" href="/drama" ><h5>Drama</h5></a>
</li>
<li class="nav-item" action="music">
  <a class="nav-link" href="/music" ><h5>Music</h5></a>
</li>
<li class="nav-item" action="/literature">
  <a class="nav-link" href="/literature" ><h5>Literature</h5></a>
</li>
<li class="nav-item" action="/art">
  <a class="nav-link" href="/art" ><h5>Art</h5></a>
</li>
<li class="nav-item" action="/photography">
  <a class="nav-link" href="/photography" ><h5>Photography</h5></a>
</li>
<li class="nav-item" action="/design">
  <a class="nav-link" href="/design" ><h5>Design</h5></a>
</li>
<li class="nav-item" action="/media">
  <a class="nav-link" href="/media" ><h5>Media</h5></a>
</li>
<li class="nav-item" action="/logistics">
  <a class="nav-link" href="/logistics" ><h5>Logistics</h5></a>
</li>
<li class="nav-item" action="/hr">
  <a class="nav-link" href="/hr" ><h5>HR</h5></a>
</li>
<li class="nav-item" action="/pr">
  <a class="nav-link" href="/pr" ><h5>PR</h5></a>
</li>
{%endblock%}
{%block main%}
<div class="col-9" id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="section">
    <h2>Ingenium </h2>
    <hr>
    <p>General description of the club but empty now!</p>
  </div>
  <div class="carousel-inner" style="height:540px;">
   <div class="carousel-item active">
     <img src="/static/im1.jpeg" class="img-fluid">
   </div>
   <div class="carousel-item">
     <img src="/static/im2.jpeg" class="img-fluid">
   </div>
 </div>
</div>
{%endblock%}